<%- include('../partials/head', {title:PageTitle})%>
<%- include('../partials/nav')%>
 <table class="table table-strip table-hover">
     <thead>
        <tr><th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image URL</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody> <% for(p of products){%> 
        <tr>
            <td><%= p.name%></td>
            <td><%=p.price%></td>
            <td><%=p.description%></td>
            <td><%=p.imageURL%></td>
             <td><a href="/admin/edit-product/<%= p._id %>" type="submit" class="btn btn-primary m-1">Edit</a></td>
              <td><a href="/admin/delete-product/<%= p._id %>" type="submit" class="btn btn-danger m-1">Delete</a></td>
            </tr>
             <%}%> 
        </tbody>
    </table> 
    <%- include('../partials/footer')%>